* {
  font-family: "Shippori Mincho", serif;
}
a {
  text-decoration: none;
  color: inherit;
  transition: 0.5s;
}

a:hover {
  opacity: 0.6;
  transition: 0.5s;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 20px;
  background-color: #fff;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 1;
}

.header-right {
  font-size: 30px;
}

.header-nav-li {
  display: flex;
}

.header-access {
  margin-right: 30px;
}

.top-top {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../img/mv.png") center / cover;
  color: rgb(97, 64, 82);
  line-height: 1.2;
}

.top-topic {
  font-size: 50px;
  text-align: center;
}
.sub-topic {
  font-size: 18px;
  text-align: center;
}

.feeling {
  font-size: 20px;
  height: 250px;
  color: #fff;
  background-color: black;
}
.feeling-font {
  width: 85%;
  margin: 0 auto;
  padding-top: 40px;
}
.feeling p {
  margin-top: 40px;
  font-size: 20px;
}
.top-service {
  margin-bottom: 70px;
}
.top-service-ttl {
  text-align: center;
  padding-top: 60px;
  font-size: 30px;
}

.top-service-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.top-service-item {
  width: 40%;
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 60px;
}
.top-service-item-img img {
  width: 100%;
  height: auto;
}
.top-service-item:nth-child(2n) {
  margin-right: 0;
}
.top-service-item-main {
  line-height: 2em;
}
.top-service-item-ttl {
  font-size: 18px;
  font-weight: bold;
}

.top-service-a {
  position: relative;
  background-color: red;
  color: white;
  width: 250px;
  height: 50px;
  text-align: center;
  margin: 0 auto;
  font-size: large;
  font-weight: bold;
}
.top-service-a a {
  position: absolute;
  display: block;
  top: 12px;
  left: 0;
  width: 250px;
  height: 60px;
}
footer {
  padding: 30px 0;
  color: #fff;
  background-color: #222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}
.footer-all {
  width: 100%;
}
.footer-copyright {
  margin: 0 auto;
  float: left;
}

.footer-nav-list {
  display: flex;
  float: right;
}

.footer-nav-item {
  text-align: center;
  margin-top: 10px;
}
.news {
  width: 100%;
  background-color: black;
}
.news-main {
  width: 60%;
  background-color: white;
}
