* {
  font-family: "Shippori Mincho", serif;
}
a {
  text-decoration: none;
  color: inherit;
  transition: 0.5s;
}

a:hover {
  opacity: 0.6;
  transition: 0.5s;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 20px;
  background-color: #fff;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 1;
}

.header-right {
  font-size: 30px;
}

.header-nav-li {
  display: flex;
}

.header-access {
  margin-right: 30px;
}
.menu {
  display: none;
}
.drawer-nav {
  display: none;
}
nav ul {
  list-style: none;
}

.top-top {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../img/mv.png") center / cover;
  color: rgb(97, 64, 82);
  line-height: 1.2;
}

.top-topic {
  font-size: 50px;
  text-align: center;
}
.sub-topic {
  font-size: 18px;
  text-align: center;
}

.feeling {
  font-size: 20px;
  height: 300px;
  color: #fff;
  background-color: black;
}
.feeling-font {
  width: 90%;
  margin: 0 auto;
  padding-top: 60px;
}
.feeling p {
  margin-top: 40px;
  font-size: inherit;
}
.top-service {
  margin-bottom: 70px;
}
.top-service-ttl {
  text-align: center;
  padding-top: 60px;
  font-size: 30px;
}

.top-service-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  justify-content: center;
}

.top-service-item {
  width: 40%;
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 60px;
}
.top-service-item-img img {
  width: 100%;
  height: auto;
}
.top-service-item:nth-child(2n) {
  margin-right: 0;
}
.top-service-item-main {
  line-height: 2em;
}
.top-service-item-ttl {
  font-size: 18px;
  font-weight: bold;
}
.top-service-a {
  width: fit-content;
  margin: 0 auto;
}
.top-service-a a {
  background-color: red;
  color: white;
  display: block;
  width: 250px;
  height: 50px;
  text-align: center;
  line-height: 2.5em;
  font-size: large;
  font-weight: bold;
}
.news {
  width: 100%;
  height: 350px;
  background-color: black;
  margin-bottom: 20px;
}
.news-topic {
  padding-top: 60px;
  padding-bottom: 10px;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  justify-content: space-between;
}
.news-topic a {
  background-color: red;
  color: white;
  line-height: 2.3em;
  height: 40px;
}
.news-h1 {
  color: white;
  font-size: xx-large;
}
.news-main a:hover {
  color: rgb(173, 172, 172);
}
.news-main {
  width: 90%;
  height: 60px;
  background-color: white;
  margin: 0 auto;
  margin-bottom: 10px;
  line-height: 3em;
}
.news-main-p {
  font-size: large;
  margin-left: 20px;
}
.news-main-p span {
  font-weight: bold;
  margin-left: 10px;
}
.blog-topic-h2 {
  margin: 80px 0 20px 0;
  text-align: center;
  font-size: xx-large;
}
.wrapper {
  display: flex;
  justify-content: space-around;
}
.blog-card {
  width: 50%;
  height: 270px;
  margin-right: 30px;
  background-color: white;
  position: relative;
}
.blog-img {
  width: 30%;
}
.blog-img img {
  width: 300%;
}
.blog-detail-a {
  margin-top: 60px;
}
.blog-detail-a a {
  display: block;
  line-height: 2.5em;
  background-color: red;
  color: white;
  width: 250px;
  height: 50px;
  text-align: center;
  margin: 0 auto;
  font-size: large;
  font-weight: bold;
}
.detail {
  margin: 100px 0px 50px 0px;

  display: flex;
}
.company {
  background-color: red;
  height: 200px;
  width: 50%;
  position: relative;
}
.company-topic {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 45%;
  left: 30%;
}
.recruit {
  background-color: black;
  height: 200px;
  position: relative;
  width: 50%;
}
.recruit-topic {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 45%;
  left: 40%;
}
.form {
  width: 100%;
  height: 300px;
  text-align: center;
  line-height: 2em;
  background-color: lightgray;
}
.form-h1 {
  padding-top: 40px;
  font-size: x-large;
}
.form-p {
  margin-bottom: 50px;
}
.form-a {
  margin: 0 auto;
  color: white;
  background-color: red;
  width: 20%;
}
.form-a a {
  display: block;
  line-height: 2.5em;
  height: 50px;
  font-size: large;
  font-weight: bold;
}
footer {
  padding: 30px 0;
  color: #fff;
  background-color: #222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}
.footer-all {
  width: 100%;
}
.footer-copyright {
  margin: 0 auto;
  float: left;
}

.footer-nav-list {
  display: flex;
  float: right;
}

.footer-nav-item {
  position: relative;
  text-align: center;
  margin-right: 10px;
}
.footer-nav-item span {
  margin-left: 10px;
}
@media screen and (max-width: 768px) {
  .wrap {
    width: 85%;
  }
  .sub-topic {
    font-size: small;
  }
  .feeling-font {
    width: 85%;
    font-size: small;
  }
  .top-service {
    text-align: center;
  }
  .news-main-p {
    font-size: small;
  }
  .wrapper {
    display: grid;
  }
  .blog-card {
    margin: 0 auto;
  }
  .company-topic {
    font-size: large;
  }
  .recruit-topic {
    font-size: large;
  }
  .form-a {
    width: 30%;
  }
  .header-nav {
    display: none;
  }

  .menu {
    display: inline-block;
    width: 36px;
    height: 32px;
    cursor: pointer;
    position: relative;
    z-index: 10;
  }

  .menu-line-top,
  .menu-line-middle,
  .menu-line-bottom {
    display: inline-block;
    width: 100%;
    height: 4px;
    background-color: #000;
    position: absolute;
    transition: 0.5s;
  }

  .menu-line-top {
    top: 0;
  }

  .menu-line-middle {
    top: 14px;
  }

  .menu-line-bottom {
    bottom: 0;
  }

  .menu.open span:nth-of-type(1) {
    top: 14px;
    transform: rotate(45deg);
  }

  .menu.open span:nth-of-type(2) {
    opacity: 0;
  }

  .menu.open span:nth-of-type(3) {
    top: 14px;
    transform: rotate(-45deg);
  }

  .drawer-nav {
    display: block;
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: -100%;
    background: #fff;
    transition: 0.7s;
  }

  .drawer-nav-list {
    padding-top: 80px;
    text-align: center;
  }

  .drawer-nav-item {
    margin-top: 40px;
    color: #0033cc;
    font-size: 18px;
  }
  .in {
    transform: translateX(100%);
  }
  .footer-copyright {
    margin-left: 40%;
  }
  .footer-nav-list {
    display: inherit;
    float: none;
    margin-top: 30px;
  }
  .footer-nav-item {
    text-align: center;
    margin-top: 10px;
    width: 100%;
  }
  .footer-nav-item span {
    display: none;
  }
  .footer-nav-item:after {
    display: none;
  }
}
